/* 
*************************************************
MODERN CSS RESET
https://piccalil.li/blog/a-more-modern-css-reset/
*************************************************
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* 
*****************
CUSTOM CSS STYLES
*****************
*/

@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  --text-preset-1-mobile: 2.25rem/1 "Young Serif", serif;
  --text-preset-1: 2.5rem/1 "Young Serif", serif;
  --text-preset-2: 1.75rem/1 "Young Serif", serif;
  --text-preset-3: 600 1.25rem/1 "Outfit", sans-serif;
  --text-preset-4: 300 1rem/1.5 "Outfit", sans-serif;
}

/* 
*****************
GENERAL STYLES
*****************
*/

body {
  margin: 0;
  background-color: var(--stone-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
  font: var(--text-preset-2);
  color: var(--brown-800);
}

hr {
  width: 100%;
  border: 0.5px solid var(--stone-150);
}

/* 
*****************
STYLES TREE
*****************
*/
article {
  background-color: var(--white);
  max-width: 736px;
  min-width: 320px;

  main {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    .title {
      h1 {
        margin: 0 0 24px 0;
        font: var(--text-preset-1-mobile);
        color: var(--stone-900);
        text-wrap: wrap;
      }
      p {
        margin: 0;
        font: var(--text-preset-4);
        color: var(--stone-600);
      }
    }

    .preparation {
      background-color: var(--rose-50);
      padding: 24px;
      border-radius: 12px;

      h3 {
        margin: 0;
        font: var(--text-preset-3);
        color: var(--rose-800);
      }

      ul {
        font: var(--text-preset-4);
        color: var(--stone-600);
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;

          p {
            margin: 0;
            span {
              font-weight: 500;
            }
          }

          &::before {
            content: "\2022";
            color: var(--rose-800);
            font-size: 1.25rem;
            padding-left: 8px;
            padding-right: 24px;
          }
        }
      }
    }

    .ingredients {
      ul {
        margin: 24px 0 0 0;
        font: var(--text-preset-4);
        color: var(--stone-600);
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;

          p {
            margin: 0;
            span {
              font-weight: 500;
            }
          }

          &::before {
            content: "\2022";
            color: var(--brown-800);
            font-size: 1.25rem;
            padding-left: 8px;
            padding-right: 24px;
          }
        }
      }
    }

    .instructions {
      ol {
        font: var(--text-preset-4);
        padding-left: calc(32px - 16px + 8px);
        li {
          color: var(--stone-600);
          padding-left: 16px;
          margin: 8px 0;

          span {
            font-weight: 700;
          }
          &::marker {
            color: var(--brown-800);
            font-weight: 800;
          }
        }
      }
    }

    .nutrition {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      p {
        margin: 0;
        font: var(--text-preset-4);
        color: var(--stone-600);
      }

      table {
        font: var(--text-preset-4);
        color: var(--stone-600);
        border-collapse: collapse;
        tr {
          border-bottom: 1px solid var(--stone-150);
          &:first-of-type {
            td {
              padding-top: 0;
            }
          }
          &:last-of-type {
            border-bottom: none;
            td {
              padding-bottom: 0;
            }
          }

          td {
            width: 50%;
            padding: 8px 0;

            &:first-of-type {
              padding-left: 32px;
            }

            &:last-of-type {
              font-weight: 700;
              color: var(--brown-800);
              padding-left: 16px;
            }
          }
        }
      }
    }
  }
}

.attribution {
  margin-top: 14px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width >= 480px) {
  article {
    margin: 128px 48px;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);

    picture img {
      border-radius: 12px;
    }

    main {
      padding: 40px 0;

      h1 {
        font: var(--text-preset-1);
      }

      .instructions {
        ol {
          padding-left: calc(40px - 16px + 8px);
        }
      }
    }
  }
}
